@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<StudentPortal.Models.Entities.Student>
@* <div class="text-center">
<h1>All Students</h1>
</div>
<a class="btn btn-success" asp-controller="Students" asp-action="Add">+ ADD</a>
<br />
<br />
 *@
@if (TempData["AlertMessage"] != null)
{
    <div class="alert alert-success">
        <strong>Success!</strong> @TempData["AlertMessage"]
    </div>
} 
<div class="dispp">
    <h1>ALL STUDENTS</h1>

<a class="btn btn-success" asp-controller="Students" asp-action="Add">+ ADD</a>
<br />
<br />

<table class="table table-success table-striped">
    <thead>
        <tr>
            <th>StudentID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Gender</th>
            <th>Phone</th>
            <th>Address</th>
            <th>B.O.D</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
             <td>@student.StudentID</td>
             <td>@student.FirstName</td>
             <td>@student.LastName</td>
             <td>@student.Email</td>
             <td>@student.Gender</td>
             <td>@student.PhoneNumber</td>
             <td>@student.Address</td>
             <td>@student.BirthDate</td>
             <td>
                 <a class ="btn btn-primary" asp-controller="Students" asp-action="Edit" asp-route-sid="@student.StudentID">EDIT</a>
             </td>
        </tr>
        }
    </tbody>
</table>
</div>